#!/usr/bin/env ruby

require 'nanoc/latexmk'

passthrough '/fotos/*'

compile '/materiaal.md', rep: :overzicht do
  layout '/overzicht.tex.erb'
  filter :latexmk, engine: :xelatex
  write '/overzicht.pdf'
end

layout '/**/*.erb', :erb
